footer.footer

        .footer__container
            .footer__container__contact
                i.fa.fa-phone
                a(href="+54 11 4708-4108") 4708-4108
                span Vos tambien podes sumarte!
                .footer__container__contact__buttons
                    a VOLUNTARIADO
                    a DONACIONES
                            
            .footer__container__copyright
                span La merced vida &copy; 2017, Todos los derechos reservados
