footer.footer
                    
        .footer__contact__container
          
          .footer__contact__container__data
            i.fa.fa-phone
            a.footer__contact__container__data__phone(href="+54 11 4708-4108") 4708-4108
            span.footer__contact__container__data__text Vos tambien podes sumarte!
            
          .footer__contact__buttons
            .footer__contact__buttons__container
              a VOLUNTARIADO
              a DONACIONES
                      
        .footer__copyright
          span La merced vida &copy; 2017, Todos los derechos reservados
