footer.footer
  .footer__contact
    
    .footer__contact__data
      i.fa.fa-phone
      a.footer__contact__data__phone(href="+54 11 4708-4108") 4708-4108
      span.footer__contact__data__text Vos tambien podes sumarte!
      
    .footer__contact__buttons
      a.footer__contact__button VOLUNTARIADO
      a.footer__contact__button DONACIONES
                
  .footer__copyright
    span La merced vida &copy; 2017, Todos los derechos reservados
