extends _layouts/base

include ./_modules/donate-cta/donate-cta

block content
    main.home
        section.home__hero
            .home__hero__slider
                .home__hero__image
                    img(src='https://picsum.photos/1480/700')
            
            .home__hero__data
                h1.home__hero__data__title Comprometidos con la Vida Humana

                p.home__hero__data__text Somos una red sin fines de lucro comprometidos con la Vida Humana desde la concepción hasta la muerte natural

                a.home__hero__data__button Contactanos y has tu donación

        section.home__about
            .home__about__wrapper
              .home__about__col
                .home__about__image
                    img(src='https://picsum.photos/1480/700')
              .home__about__col
                .home__about__content
                  h2.home__about__content__title ¿Quienes somos?
                  p.home__about__content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudti exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  p.home__about__content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudti exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  p.home__about__content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor iont incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudti exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    
        +donate-cta
                    
        section.home__what-we-do
          .container
            .row
              .col-xs-24.col-sm-12
                  .home__what-we-do__data
                    h2.home__what-we-do__data__title Qué hacemos
                    p.home__what-we-do__data__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    p.home__what-we-do__data__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              .col-xs-24.col-sm-12
               .home__what-we-do__list
                  ul
                      li
                          span.home__what-we-do__list__number 1.
                          p.home__what-we-do__list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      li
                          span.home__what-we-do__list__number 2.
                          p.home__what-we-do__list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      li
                          span.home__what-we-do__list__number 3.
                          p.home__what-we-do__list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      li
                          span.home__what-we-do__list__number 4.
                          p.home__what-we-do__list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            
        section.home__news
            h2.home__news__title NOVEDADES
            
            .home__news__col  
              .home__news__article
                  .home__news__article__image
                      img(src='https://picsum.photos/1280/700')
                  
                  .home__news__article__data
                      h2.home__news__article__data__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                      p.home__news__article__data__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      a.home__news__article__data__more Seguir leyendo...
        
        section.home__sindrome
          .home__sindrome__col.home__sindrome__col--image
            .home__sindrome__image
                img(src='https://picsum.photos/1480/700')
                
          .home__sindrome__col.home__sindrome__col--data
            .home__sindrome__data
              h2.home__sindrome__data__title SINDROME POST ABORTO
              p.home__sindrome__data__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              p.home__sindrome__data__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              a.home__sindrome__data__more Quiero saber más
        
        section.home__videos
            .container
                .row
                    .col-xs-24
                        h2.home__videos__title VIDEOS
                .row
                    .col-xs-24.col-sm-6
                      .home__videos__player
                        .embed-responsive.embed-responsive-16by9
                          iframe.embed-responsive-item(src="https://www.youtube.com/embed/SE_JPAeFjZc")
                    .col-xs-24.col-sm-6
                      .home__videos__player
                        .embed-responsive.embed-responsive-16by9
                          iframe.embed-responsive-item(src="https://www.youtube.com/embed/SE_JPAeFjZc")
                    .col-xs-24.col-sm-6
                      .home__videos__player
                        .embed-responsive.embed-responsive-16by9
                          iframe.embed-responsive-item(src="https://www.youtube.com/embed/SE_JPAeFjZc")
                    .col-xs-24.col-sm-6
                      .home__videos__player
                        .embed-responsive.embed-responsive-16by9
                          iframe.embed-responsive-item(src="https://www.youtube.com/embed/SE_JPAeFjZc")
